In [14]:
import numpy as np
import pandas as pd
import glob
from operator import sub
import os

df1 = pd.read_excel("TeapotDomeWellHeaders02-09-10.xlsx")
df2 = pd.read_excel("formation.xls")

In [17]:
df1 = pd.read_excel("/Users/samirabr12/Downloads/RecSys 2/Wyoming/CD Files/TeapotDomeWellHeaders02-09-10.xlsx")
#This is what the data initially looks like. As is apparent, we have three different points from which total depth
#is taken : Kelly Bushing, Ground Level, and Drilling Floor elevation. As all datum points are above sea level, we 
# can standardize true vertical depth as (total depth - point of measurement).
print(df1.head())

#Parameters of what we want
#This list contains api numbers of the wells
APINumbers = []
#This list contains the total depths
TotalDepth = []
#This list contains the way the data was measured (e.g. Kelly-Bushing, Ground-Level, Drilling-Floor) 
measuringType = []
#This list contains the value of the point of measurement
measuringPoint = []
northing = []
easting= []
for i in df1["Unnamed: 0"]:
    APINumbers.append(i)
for i in df1["Unnamed: 8"]:
    TotalDepth.append(i)
for i in df1["Unnamed: 10"]:
    measuringType.append(i)
for i in df1["Unnamed: 9"]:
    measuringPoint.append(i)
for i in df1["Unnamed: 5"]:
    easting.append(i)
for i in df1["All Coordinates in Wyoming East Central State Plane, NAD 1927"]:
    northing.append(i)
print(measuringPoint)

northing.remove('Northing')
easting.remove('Easting')
TotalDepth.remove('Total Depth')
measuringPoint.remove('Datum Elevation')
TotalDepth = list(map(float, TotalDepth))
measuringPoint = list(map(float, measuringPoint))
TVD = map(sub, TotalDepth, measuringPoint)
APINumbers.remove('API Number')
data_tuples = list(zip(APINumbers, northing, easting, (list(TVD))))

df1_matrix = pd.DataFrame(data_tuples, columns = ['Name', 'Northing', 'Easting', 'True Vertical Depth'])
df1_matrix.head
df1_finalMatrix = pd.DataFrame(df1_matrix,  columns = ['Name', 'Northing', 'Easting', 'True Vertical Depth'])
df1_finalMatrix.head()
listTVD = []
for i in df_finalMatrix['True Vertical Depth']:
    listTVD.append(i) 
print(listTVD)
amin, amax = min(listTVD), max(listTVD)
for i, val in enumerate(listTVD):
    listTVD[i] = (val-amin) / (amax-amin)
df1_finalMatrix["Normalized TVD"] = pd.Series(listTVD)
df1_finalMatrix.head()

     Unnamed: 0 Unnamed: 1 Unnamed: 2   Unnamed: 3  \
0    API Number   Operator  Well Name  Well Number
1  490251039700   U.S. DOE      NPR-3      34-A-21
2  490250631800   U.S. DOE      NPR-3      82-S-14
3  490250632200   U.S. DOE      NPR-3     71-SX-14
4  490250632500   U.S. DOE      NPR-3      48-S-11

  All Coordinates in Wyoming East Central State Plane, NAD 1927 Unnamed: 5  \
0                                           Northing               Easting
1                                             974652                794811
2                                             950092                808959
3                                             950779                808259
4                                             951370                806497

    Unnamed: 6 Unnamed: 7   Unnamed: 8       Unnamed: 9  ...  Unnamed: 14  \
0  Well Status      Class  Total Depth  Datum Elevation  ...        Field
1           PA          I         2914             4921  ...  Teapot Dome
2           PR          O         1286             5293  ...  Teapot Dome
3           PR          O         3052             5247  ...  Teapot Dome
4           PR          O          762             5192  ...  Teapot Dome

    Unnamed: 15                    Unnamed: 16       Unnamed: 17  \
0         Basin                     Lease Name  Ground Elevation
1  Powder River  Naval Petroleum Reserve No. 3              4911
2  Powder River  Naval Petroleum Reserve No. 3              5288
3  Powder River  Naval Petroleum Reserve No. 3              5259
4  Powder River  Naval Petroleum Reserve No. 3              5187

      Unnamed: 18          Unnamed: 19          Unnamed: 20       Unnamed: 21  \
0  Plugback Depth            Spud Date      Completion Date  Common Well Name
1             NaN  1977-07-08 00:00:00                  NaN           34-A-21
2             NaN  1962-07-04 00:00:00  1962-07-06 00:00:00           82-S-14
3            3052  1959-08-19 00:00:00                  NaN          71-SX-14
4             NaN  1963-07-12 00:00:00                  NaN           48-S-11

         Unnamed: 22                          Unnamed: 23
0  Legal Survey Type                             Location
1           CONGRESS  TWP: 39  N - Range: 78 W - Sec. 21
2           CONGRESS  TWP: 38  N - Range: 78 W - Sec. 14
3           CONGRESS  TWP: 38  N - Range: 78 W - Sec. 14
4           CONGRESS  TWP: 38  N - Range: 78 W - Sec. 11

[5 rows x 24 columns]
['Datum Elevation', 4921, 5293, 5247, 5192, 5289, 5226, 5219, 5262, 5299, 5243, 5195, 5257, 5207, 5232, 5173, 5182, 5221, 5203, 5183, 5198, 5176, 5182, 5214, 5166, 5177, 5191, 5204, 5163, 5159, 5257, 5182, 5206, 5151, 5174, 5152, 5189, 5212, 5327, 5175, 5205, 5159, 5209, 5156, 5143, 5179, 5166, 5149, 5226, 5204, 5169, 5130, 5139, 5146, 5209, 5128, 5131, 5170, 5186, 5121.54, 5150, 5126, 5121, 5140, 5105, 5123, 5116, 5215, 5119, 5128, 5112, 5113, 5101, 5113, 5105, 5133, 5102, 5101, 5092, 5096, 5160, 5076, 5099, 5088, 5102, 5049, 5087, 5073, 5121, 5105, 5094, 5044, 5071, 5072, 5048, 5067, 5042, 5074, 5087, 5009, 5019, 5051.7, 5017, 5053, 5007.3, 5042, 5016, 5018, 5020.3, 5019, 5014.3, 5012, 4981, 5289, 5287, 5004, 4974.2, 5032, 5152, 5168, 5250, 5270, 5294, 5305, 5247.55, 5288, 5266, 5283, 5002, 5127, 5031, 5185, 5257, 5183, 5014, 5199, 5043, 4985, 5020, 5016, 5132, 5092.78, 5009, 5025, 4991, 5017.64, 5196.9, 5114, 5281, 5098, 5008, 5178, 5088, 5038.32, 5032.32, 5039.86, 5050, 5180, 5269, 5084, 5153.7, 5055.42, 5217, 5182, 5195, 5334.9, 5343.2, 5229.2, 5218.4, 5159.4, 5133, 5193, 5204, 5178, 5232, 5175, 5232, 5169, 5173, 5117, 5234, 5244, 5184, 5180, 5169, 5237.2, 5222, 5232.5, 5133, 5253, 5264, 5006, 4986, 5086, 5087, 5107, 5199.4, 5140, 5141, 5216, 5221, 5241, 5005, 4963, 5086, 5069, 5086, 5129, 5167, 5150, 5133, 5146, 5157, 5170, 5183, 5144, 5126, 5152, 5147, 5128, 5270, 5180, 5155, 5183, 5198, 5210, 5177, 5245, 5116, 5174, 5189, 5225, 5179, 5203, 5196, 5079, 5075, 5120, 5199, 5136, 5100, 5254, 5134, 5206, 4977, 5120, 5160, 5094, 5094, 5183, 5200, 5119, 5109, 5045, 5163, 5012, 5019, 5010, 5152, 5086, 5194, 5004, 5040, 5147, 5123, 5022, 5264, 5016, 5231, 5010, 5056, 5170, 5058, 5019, 5094, 4981, 5118, 5192, 4960, 5067, 5266, 5178, 5080, 5251, 5210, 5069, 4995, 5171, 5059, 4995, 5134, 5154, 5050, 4995, 5141, 5026, 5088, 5107, 5170, 5095, 5257, 5080, 5067, 5075, 5034, 5081.73, 5258, 5263, 5046, 5074, 5145.16, 5176, 5211, 4963.7, 5049.3, 4969.3, 5240, 5147, 5165, 5005, 4974, 5165, 5162, 5181, 5163, 4965, 5098, 5095, 5160, 5164, 5123, 5118, 5126, 5134, 5136, 5074.7, 5174, 5138, 5148, 5146, 5151, 5161, 5074, 5177, 5187, 5187, 5171, 5178, 5197, 4991, 5070.38, 5018, 5123, 5251, 5170, 5199, 5208, 5042, 5184, 5158, 5190, 5206, 5065.6, 5172, 5225, 5247, 5320, 4987.5, 5027.5, 5150.5, 4993, 5179, 5232, 5227, 5233, 5223, 5215, 5316, 5318, 5160, 5179, 5372, 5259, 5212, 5292.5, 5336, 5176, 5299, 5257, 5115, 5254, 5213, 5250, 5272, 5244, 5225, 5293, 5269, 5085.7, 5173, 5206, 5197, 5216, 5250, 5236, 5206, 5236, 5221, 5250, 5269, 5267, 5251, 5072, 5000, 5060, 5049, 5042, 4993, 5204, 5220, 5247, 5189, 5239, 5243, 5257, 5267, 5208, 5248, 5003, 5368, 5220, 5242, 5206, 5268, 5213, 5197, 5190, 5142.92, 5195, 5207, 5183, 5242, 4998, 5191, 5185, 5204, 5007, 4989, 5150, 5163, 5195, 5217, 5082, 5133, 5153.51, 5204, 5253, 5172, 5159, 5062, 4998, 5031, 5036, 5066, 5073, 5068, 5114, 5128, 5089, 5043, 5067, 5087, 5080, 5104, 5089, 5083, 5007, 5170, 5139, 5229, 5245, 5192, 5133, 5192, 5202, 5177, 5143, 5155, 5155, 5288, 5237, 5197, 5200, 5233, 5524, 5151, 5006, 5335, 4967.24, 5180, 5316, 5218, 5154, 5103, 5124, 5204, 5179, 5275, 5215, 5149, 5193, 5133, 5149, 5200, 5266, 5147, 5197, 5221, 5216, 5212, 5218, 5270, 5265, 5246, 5258, 5253, 5059, 5217, 5129, 5108, 5136, 5076, 5092, 5126, 5130, 5128, 5170, 5203, 5089, 5115, 5102, 5178, 5213, 5175, 5316, 5168, 5232, 5269, 5361, 4988, 5092, 5039, 5120, 5054, 4985, 5123, 5130, 5166, 5196, 5244, 5287, 5247, 5233, 5233, 5211, 5184, 5163, 5167, 5166, 5167, 5249, 5173, 5267, 5166, 5174, 5178, 5159, 5168, 5164, 5173, 5167, 5165, 5157, 5234, 5234, 5198, 5176, 5189, 5198, 5194, 5193, 5199, 5191, 5196, 5199, 5193, 5196, 5042, 5173, 5199, 5009, 5061, 5162, 5131, 5252, 5038, 5205, 5196, 5195, 5173, 5194, 5267, 5257, 5088, 5068, 5241, 5206, 5287, 5199, 5196, 5133, 5216, 5286, 5092, 5057, 5192.19, 5115, 5239, 5022, 5101, 5070, 5049, 5008, 5190, 5182, 5170, 5177, 5164, 5149, 5199, 5218, 5305, 5189, 5068, 5182, 5243, 5192, 5187, 5243, 5120, 5160, 5196, 5184, 5157, 5182, 5199, 5181, 5455, 5165, 5171, 5157, 5201, 5176, 5182, 5193, 5166, 5231, 5157, 5100, 5187, 5153, 5171, 5176, 5234, 5228, 5338, 5242, 5088, 5096, 5101, 5224, 5142, 5211, 5167, 5032, 5170, 5137, 5213, 5186, 5186, 5180, 5193, 5200, 5203, 5199, 5260, 5220, 5114, 5249, 5197, 5153, 5269, 5134, 5308, 5162, 5179, 5158, 5188, 5201, 5207, 5184, 5179, 5156, 5156, 5157, 5194, 5163, 5162, 5156, 5159, 5222, 5321, 4983, 5197, 5226, 5095, 5093, 5123, 5201, 5230.4, 5197.3, 5184, 5235, 5120, 5160, 5218, 5163, 5112, 5115, 5113, 5110, 5147, 5242, 5255, 5128, 5152, 5184, 5093, 5165, 5197, 5092, 5099, 5195.5, 5252, 5070.3, 5245, 5233, 5248, 5095, 5289, 5161, 5187.8, 5231, 5122, 5126, 5136, 5148, 5142, 5192, 5070, 5231, 5175, 5182, 5256, 5245, 5238, 5216, 5193, 5234, 5174, 5196, 5199, 5175, 5201, 5212.8, 5195, 5163.8, 5173, 5153, 5218, 5267, 5201, 5157, 5159, 5198, 5162, 5252, 5210, 5074.8, 5007, 5082, 5129.8, 5146.8, 5206, 5245, 5124, 5200, 5229.5, 5266.4, 5192.8, 5086, 5241, 5277, 5132, 5003.8, 4986, 5141, 5171, 5227, 5180, 5174, 5174, 5184, 5182, 5164, 5171, 5178, 5177, 5071, 5253, 5235, 5173, 5094, 5214, 5230, 5211, 5206, 5227, 5211, 5203, 5171, 5207, 5234, 5097, 5273, 5238, 5164, 5261, 5189, 5143, 5200, 5106, 5238, 5252, 5294, 5294, 5131, 5213, 5170, 5181, 5242, 5183, 5112, 5166, 5240, 5166, 5186, 5226, 5238.6, 4997.6, 5078, 5088, 5265, 5247, 5240.5, 5237, 5229, 5048.6, 5072, 5240, 5208.6, 5006, 5090.6, 5293, 5166.6, 5076.6, 5286.6, 5139.6, 5156, 5240, 5224, 5215, 5162, 5191, 5174, 5162, 5179, 5188, 5188, 5191, 5180, 5180, 5177, 5177, 5173, 5173, 5276.6, 5176.2, 5177, 5183.2, 5174, 5186, 5163, 5178, 5164, 5164, 5205, 5189, 5205.6, 5207, 5176, 5221.6, 5194, 5103, 5218, 5146, 5173.6, 5286.6, 5259, 5207, 5074, 5189.5, 5175, 5162, 5077, 5162.5, 5197.5, 5304, 5119, 5159, 5149, 5107, 5090, 5292, 5178, 5141, 5146, 5133, 5151, 5151, 5157, 5161, 5156.8, 5165, 5173, 5154, 5321, 5057, 5128, 5165, 5296, 5238, 5218, 5149, 5164, 5179, 5166, 5171, 5181, 5159, 5190, 5176, 5197, 5151, 5163, 5170, 5165, 5133, 5152, 5167, 5165, 5108, 5171, 5171, 5163, 5163, 5158, 5158, 5154, 5153, 5154, 5155, 5274, 5253, 5005, 4982.9, 4985.27, 5237, 5203, 5200, 5226, 5197, 5192, 5188, 5200, 5194, 5185, 5190, 5187, 5194, 5184, 5181.6, 5183, 5204, 5204, 5187, 5187, 5190, 5190, 5187, 5187, 5183, 5169.1, 5164.8, 5168, 5160, 5168, 5161.8, 5161, 5244, 5231.75, 5191.3, 5084.6, 5092.9, 5146, 5118.7, 5238, 5238.7, 4991.3, 5080.5, 5129, 5226.6, 5208, 5278, 5149.6, 4980.33, 5005.6, 5320, 4998.8, 5007, 4982.9, 5021.38, 5093.67, 5006.25, 5011.58, 5022, 5252, 4974.26, 5052, 5028.75, 5040, 5131.6, 5105.72, 5418.6, 4995, 5171, 5150, 5152, 5163, 5203, 5194, 5175, 5175, 5198, 5148, 5145, 5178, 5182, 5206, 5187, 5205, 5264, 5204, 5208, 5206, 5195, 5249, 5158, 5150, 5253, 5120, 5213, 5108, 5231, 5108, 5129, 5189, 5143, 5109, 5197, 5087.2, 5077, 5171, 5166, 5270, 5210, 5173, 5157, 5095, 5079, 5087, 5175, 5146, 5125, 5135, 5164, 5137, 5153, 5136, 5169, 5181, 5120, 5133, 5140, 5152, 5153, 5165, 5150, 5160, 5152, 5153, 5165, 5150, 5161, 5202, 5199, 5199, 5165, 5136, 5139, 5147, 5130, 5136, 5134, 5129, 5141, 5139, 5160, 5171, 5167, 5153, 5142, 5149, 5162, 5167, 5148, 5139, 5136, 5165, 5147, 5130, 5195, 5187, 5192, 5175, 5179, 5142, 5171, 5146, 5176, 5178, 5155, 5180, 5166, 5162, 5171, 5154, 5190, 5176, 5176, 5155, 5119, 5084, 4990, 5338, 5160, 5225, 5110, 5094, 5143, 5131, 5154, 5433, 5023, 5288, 5124, 5167, 5154, 5178, 5160, 5006, 5041, 5160, 5226, 5190, 5180, 5225, 5184, 5270, 5133, 5205, 5325, 5191, 5236, 5068, 5099, 5115, 5107, 5116, 5116, 5183, 5170, 5167, 5271, 5285, 5155, 5213, 5183, 5185, 5334, 5188, 5312, 5058, 5348, 5020, 5036, 4984, 5248, 5264, 5160, 5291, 5174, 5156, 5133, 5231, 5187, 5132, 5216, 5199, 5206, 5162, 5196, 5196, 5196, 5206, 5185, 5196, 5216, 5128, 5130, 5128, 5140, 5170, 5175.5, 5175.5, 5181, 5171, 5170, 5171, 5188, 5058, 5041, 4983, 5049, 5190, 5116, 5187, 5150, 5198, 5178, 5238, 5268, 5268, 5209, 5233, 5182, 5182, 5244, 5205.7, 5225, 5196, 5164.7, 5304, 5155, 5176, 5114.6, 5074, 5083, 5100, 5176, 5119, 5010, 5010, 5010, 5010, 5010, 5010, 5010, 5010, 5010, 5010, 5010, 5151, 5010, 5010.2, 5231, 5223, 5223]

NameError: name 'df_finalMatrix' is not defined

In [42]:
os.chdir("/Users/samirabr12/Downloads/RecSys 2/Wyoming/CD Files")
df2 = pd.read_excel("TeapotDomeFormationLogTops.xls")
df2.head()
df2['Form Alias'].unique()
df2['Form Alias']

labels = df2['Form Alias'].unique().tolist()
mapping = dict( zip(labels,range(len(labels))) )
df2.replace({'Form Alias': mapping},inplace=True)
# Transfer all the different types of formations into numerical values

df2.head()
mapping
X = df2['Form Alias']
from sklearn import preprocessing
standardized_X = preprocessing.scale(X)
# standardize formation
standardized_X

array([-0.9837844 , -0.87807057, -0.77235673, ...,  0.60192311,
        0.70763694, -0.9837844 ])

In [50]:
df1 = df1_finalMatrix
#df2 = standardized_X
second = pd.DataFrame()
second['Formation'] = standardized_X
display(df1, second)

              Name  Northing   Easting  True Vertical Depth
0     490251039700  974652.3  794810.9              -2007.0
1     490250631800  950092.0  808959.2              -4007.0
2     490250632200  950778.6  808258.9              -2195.0
3     490250632500  951369.6  806496.9              -4430.0
4     490250632600  951458.9  809057.2              -2301.0
...            ...       ...       ...                  ...
1312  490252350700  974001.0  795501.4              -1368.0
1313  490252350800  973838.7  795478.7                589.8
1314  490254038000  957491.1  799574.2              -2027.0
1315  490256012900  952475.9  800507.2              -2483.0
1316  490256012901  952475.9  800507.2              -2983.0

[1317 rows x 4 columns]

      Formation
0     -0.983784
1     -0.878071
2     -0.772357
3     -0.666643
4     -0.560929
...         ...
7280   0.179068
7281   0.284782
7282   0.601923
7283   0.707637
7284  -0.983784

[7285 rows x 1 columns]

In [ ]:
pd.DataFrame({'Name': ['Northing', 'Easting', 'True Vertical Depth', 'Normalized TVD'],
                    'Northing': ['Accounting', 'Engineering', 'Engineering', 'HR'], 'Easting':, 'True Vertical Depth'